In [38]:
import pandas as pd

# 1.Read the data from the CSV file into a DataFrame and display the data to get a count of the number of rows.

In [39]:
df_ramen = pd.read_csv("ramen-ratings.csv")

In [40]:
df_ramen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   object
 3   Country  2577 non-null   object
 4   Stars    2577 non-null   float64
dtypes: float64(1), object(4)
memory usage: 100.8+ KB

# 2.Rename the Stars column to Rating.

In [41]:
df_ramen.rename(columns={'Stars':'Rating'},inplace=True)

# 3.Convert the Style column to the category type

In [75]:
df_ramen.Style=df_ramen.Style.astype('category')

# 4.Drop the country column.

In [45]:
df_ramen.drop(columns=['Country'],inplace=True)

# 5.Check that the changes were applied to the DataFrame

In [46]:
df_ramen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   category
 3   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 63.4+ KB

# 6.Rename the Brand column to Company and the Variety column to Product.

In [47]:
df_ramen.rename(columns={'Brand':'Company','Variety':'Product'},inplace=True)

# 7.Use the duplicated() method to display all rows with duplicate Company/Product combinations.

In [68]:
df_ramen.duplicated(subset=['Company','Product'],keep=False)

0       False
1       False
2       False
3       False
4       False
        ...
2572    False
2573    False
2574    False
2575    False
2576    False
Length: 2517, dtype: bool

# 8.Drop all rows with duplicate Company/Product combinations except for the first row in each set.Then, display the data to get a count of the number of rows, and compare that with the original number of rows to see how many were dropped

In [62]:
df_ramen.drop_duplicates(subset=['Company','Product'], keep='first',inplace=True)

In [64]:
df_ramen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2517 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2517 non-null   object
 1   Product  2517 non-null   object
 2   Style    2515 non-null   category
 3   Rating   2517 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 81.5+ KB

# 9.Drop any rows that have missing values

In [71]:
df_ramen.dropna(inplace=True)

# 10.Check again to make sure that all of your changes were applied

In [73]:
df_ramen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2515 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2515 non-null   object
 1   Product  2515 non-null   object
 2   Style    2515 non-null   category
 3   Rating   2515 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 81.4+ KB